parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @var with type array\<int, string\|null\>\|string\|null is not subtype of native type mixed\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Document.php
